development:
  clients:
    default:
      uri: 'mongodb://admin:QmtMzGaRgpt1uSUr@cluster0-shard-00-00-5fnxq.mongodb.net:27017,cluster0-shard-00-01-5fnxq.mongodb.net:27017,cluster0-shard-00-02-5fnxq.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin'
production:
  clients:
    default:
      uri: 'mongodb://admin:QmtMzGaRgpt1uSUr@cluster0-shard-00-00-5fnxq.mongodb.net:27017,cluster0-shard-00-01-5fnxq.mongodb.net:27017,cluster0-shard-00-02-5fnxq.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin'
